/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Arial Narrow', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
	letter-spacing: .04em;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: 1em;
	margin-bottom: 1.8em;
	letter-spacing: .08em;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

h1 {
	margin: 0;
	font-size: 3em;
}

h3 {
	margin-top: 12px;
	margin-bottom: 12px;
}


/* =================================
  Navigation Styles
==================================== */
nav {
  background-color: darkgrey;
	/* display: none; */

}

.main-nav {
	display: none;
  justify-content: center;
	flex-direction: column;
	position: fixed;
	top: 50px;
	right: 20px;
	left: 20px;
	color: white;
	background-color: #36383a;
	text-align: center;
	margin: 0 auto;
}

.main-nav a {
  padding: 7px 0;
}

li + li {
	border-top: 1px solid darkgrey;
}

.reveal-nav {
	position: fixed;
	top: 10px;
	right: 20px;
	border-radius: 5px;
	font-size: 1.5em;
	letter-spacing: -3px;
	color: lightgrey;
	background-color: black;
	border: none;
	font-weight: 400;
}

#arrow {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	font-size: 1.8em;
	color: lightgrey;
	background-color: black;
	border: none;
	min-width: 40px;
	min-height: 35px;
	text-align: center;
}

li a {
   display: block;
}


/* =================================
  Section Styles
==================================== */

section {
	margin-bottom: 30px;
	width: 90%;
	margin: 0 auto;
	color: #686868;
}
#section1,
.services-banner,
.contact-banner {
	background-color: black;
	text-align: center;
	min-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	color: white;
	background: lightgrey url("http://placeimg.com/1000/480/nature") no-repeat fixed center/cover;
	margin-bottom: 40px;
	width: 100%;
}

#section1 h1 {
	flex-basis: 100%;
	text-transform: uppercase;
 	text-shadow: black 2px 2px;
}

#section2,
#section3 h3,
#section4,
footer {
	text-align: center;
}

.services-banner h3 {
	font-size: 2em;
	text-shadow: darkgrey 2px 2px;
	margin: 0;
}

.services-banner p {
	width: 80%;
	line-height: 2em;
}

#section3 div {
	max-width: 250px;
	margin: 20px auto;
}

#section3 h3 {
	font-size: 1.3em;
}
#section3 p {
	margin-bottom: 50px;
}

#section4 {
	font-style: italic;
	color: darkgrey;
}

 #section4 span {
	 font-size: .8em;
	 display: block;
 }

 #section4 h2 {
	 font-size: 2em;
 }


/* =================================
	Article Styles
==================================== */
section div {
	background-color: rgb(222, 224, 222, .4);
	padding-bottom: 10px;
	margin-bottom: 30px;
}

section div p {
	font-size: .8em;
	width: 80%;
	margin: 0 auto;
}

.green-title {
	color: #2d7c1d;
}

.blue-title {
	color: #4a87b2;
}

.one-big-column {
	min-width: 95%;
	margin: 0 auto;
	text-align: left;
}

/* =================================
	Button Styles
==================================== */

.button {
	color: white;
	background-color: black;
	padding: 13px 35px 13px 35px;
	border-radius: 8%;
	font-weight: 300;
	font-size: 1.1em;
}

.green-button {
	background-color: #2d7c1d;
}

.blue-button {
	background-color: #4a87b2;
}

.red-button {
	background-color: maroon;
}

.white-button {
	color: inherit;
	background-color: white;
	border: lightgrey 1px solid;
}

.black-button {
	color: white;
	background-color: black;
	border: none;
  margin-left: 95px;
}
/* =================================
	Contact Form Styles
==================================== */
.contact-banner {
	padding-top: 30px;
	margin-top: 30px;
	padding-bottom: 70px;
}

.contact-banner h2 {
	font-size: 2em;
	text-shadow: black 2px 2px;
}
.contact-banner p,
.contact-banner input,
.contact-banner textarea {
	color: black;
	width: 85%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 2px;
	padding: 15px;
	margin-bottom: 10px;
	border: none;
}

/* .contact-banner input,
.contact-banner textarea {
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */

}

/* =================================
	Footer Styles
==================================== */

footer {
	border-top: 1px lightgrey solid;
	padding-top: 25px;
	padding-bottom: 5px;
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: .8em;
	color: darkgrey;
}

/* =================================
	Media Queries
==================================== */
@media (min-width: 522px) {
	#section3 {
		display: flex;
		flex-wrap: wrap;
		/* justify-content: space-around; */
		/* width: 98%; */
		width: 97%;
		justify-content: space-evenly;

	}

	#section3 .two-column {
		/* flex-basis: 45%;
		padding-bottom: 30px; */
		flex: 1 1 41%;
  	margin: 24px;
	}
}

@media (min-width: 767px) {

	/* Navigation */

	.main-nav {
		display: flex;
		flex-direction: row;
		position: fixed;
		top: 0px;
		right: 0px;
		left: 0px;
		margin: 0 auto;
	}

	.main-nav a {
		padding: 13px 20px;
		margin: 5px 4px 10px 4px;
		border: 1px solid darkgrey;
	}

	.main-nav a:hover {
		background-color: darkgrey;
	}

	/* Section 1 */

	#section1 {
		font-size: 1.5em;
		min-height: 610px;
	}

	/* Section 2 */

	#section2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 98%;
		align-items: flex-start;
	}

	.three-column {
		flex: 1 1 27%;
		margin-left: 15px;
		margin-right: 15px;
		max-width: 360px;
	}

	#section2 .two-column {
		flex: 1 1 45%;
		margin-left: 15px;
		margin-right: 15px;
		padding-bottom: 40px;
		max-width: 555px;
	}

	/* Contact Form */

	.contact-form {
		width: 85%;
	  color: pink;
	  display: flex;
	  flex-direction: column;
	  flex-wrap: wrap;
	  border: none;
	  height: 200px;
	  margin: 0 auto;
	}

	.contact-form textarea {
		flex: 1 1 100%;
		margin: 10px 20px;
		width: auto;
	}

	.contact-form input {
		margin: 10px 20px;
		width: auto;
	}

	#contact p {
		width: 82%;
	}

}

@media (min-width: 900px) {
	#section3 .two-column {
		flex: 1 1 41%;
		margin: 20px 31px 20px 31px;
	}
}

@media (min-width: 980px) {
	#section3 .two-column {
		flex: 1 1 20%;
		margin: 18px;
	}
	#section3 {
		justify-content: space-evenly;
		width: 97%;
	}
}

@media (min-width: 1200px) {
	#section2,
	#section3 {
		max-width: 1200px;
	}

	.one-big-colum img {

	}
	/* TO DO
	-Refine Section 3 to go from 2 column to 4 column seamlessly
	at around 850px-DONE
	-Fix width of large section 3 image to match content-DONE
	-Make Section 3 have a uniform width for both small and
	large columns-DONE
	-fix form element to have same width as p element above
	-fix max widths of Section 2 columns-DONE
	-fix section 2 large images to align with their container-DONE
	-Make Section 2 have a uniform width for both small and
	large columns- DONE!
	-match button-DONE*/
}
